.btn{
    &__accent{
        font-size: 1.8rem;
        text-transform: uppercase;
        padding: 0.8rem 2rem;
        color: #fff;
    }
    &__yellow{
        padding: 1.5rem 2.5rem;
        border-radius: 59px;
        background: var(--2, #FFD000);
        font-size: 1.8rem;
        color: #292A29;
        text-transform: uppercase;
    }
    &__b{
        background-color: $black;
        color: $white;
        border-radius: 5.9rem;
        &:hover{
            background-color: $hover_black;
            transition: all 0.3s;
        }
    }
    &__ba{
        &:hover{
            background-color: $hover_black;
            transition: all 0.3s;
        }
    }
    &__stroke{
        border-radius: 59px;
        border: 0.1rem solid $black;
        &:hover{
            border-color: $hover_yellow;
            transition: all 0.3s;
            color: $hover_yellow;
        }
    }
}