.modal-question {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 777777777777777777777777;
    // display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-inm 0.7s;
    &.active{
        display: flex;
        animation: fade-inm 0.7s;
        @keyframes fade-inm {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
  }
  body.overflow-hidden{
    // overflow: hidden;
  }
  .modal-content{
    max-width: 145rem;
    position: relative;
  }
  
  .close {
    position: absolute;
    right: 1.5rem;
    top: 1.3rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    z-index: 7;
    cursor: pointer;
    width: 4.8rem;
    height: 4.8rem;
    svg{
        width: 1.8rem;
        height: 1.8rem;
    }
  }

  @media(max-width: 1440px){
    .modal-content{
        max-width: 100%;
    }
  }

  @media(max-width: 962px){
    .modal-question{
        padding: 0 0.4rem;
    }
    .modal-content{
        max-width: 100%;
        .form-question__img{
            display: none;
        }
        .close{
            width: auto;
            height: auto;
            top: 1.4rem;
            right: 1.2rem;
            background-color: transparent;
            svg path{
                fill: $black;
            }
        }
        .question-form{
            textarea{
                width: 32.8rem !important;
            }
            input{
                width: 15.5rem !important;
            }
        }
        .form-question__content{
            padding-bottom: 4rem;
        }
    }
  }

  .support-form__title{
    @media(max-width:  962px){
        span{
            display: inline !important;
        }
      }
  }

  .form-question .question-form input{
    @media(max-width:  962px){
        width: 100% !important;
      }
  }

  .form-question .question-form textarea{
    @media(max-width:  962px){
        width: 100% !important;
      }
  }

  .support-form__img{
    @media(max-width:  962px){
        width: 100% !important;
      }
    img{
        width: 100% !important;
    }
  }

  .form-question__content{
    min-width: 73rem;
    @media(max-width:  962px){
        min-width: 100%;
      }
  }
  .form-question__sent{
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  .form-question__error{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
  .form-question__content.sent{
    padding-top: 8rem;
    .form-question__default{
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
    .form-question__sent{
        position: static;
        opacity: 1;
        visibility: visible;
    }
    .form-question__title{
        margin-bottom: 3.8rem;
    }
    .form-question__suptitle{
        margin-bottom: 3.5rem;
    }
    .question-form__btn{
        width: auto;
        padding: 1.5rem 3.5rem;
    }
    .form-question__sent-img{
        margin-bottom: 7rem;
        svg{
            width: 8.4rem;
            height: 8.4rem;
        }
      }
  }

  .form-question__content.error{
    padding-top: 8rem;
    .form-question__default{
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
    .form-question__sent{
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }
    .form-question__error{
        position: static;
        opacity: 1;
        visibility: visible;
    }
    .form-question__title{
        margin-bottom: 3rem;
    }
    .form-question__suptitle{
        margin-bottom: 3.5rem;
    }
    .question-form__btn{
        width: auto;
        padding: 1.5rem 3.5rem;
    }
    .form-question__sent-img{
        margin-bottom: 7rem;
        svg{
            width: 8.4rem;
            height: 8.4rem;
        }
      }
  }


  @media(max-width: 962px){
    .modal-question{
        .form-question__img{
            display: none !important;
        }
        .form-question__content{
            min-width: 100%;
        }
        .form-question .input-group {
            width: 47.7%;
        }
        .form-question .question-form{
            margin-bottom: 1.5rem;
        }
        .form-question__content.sent{
            padding-top: 3.8rem;
            .form-question__sent-img{
                margin-bottom: 2rem;
                svg{
                    width: 6rem;
                    height: 6rem;
                }
              }
             .question-form__btn {
                width: 100%;
             }
             .form-question__suptitle{
                margin-bottom: 2.3rem;
            }
            .form-question__title{
                margin-bottom: 1.3rem;
            }
        }
        .form-question__content.error{
            padding-top: 3.8rem;
            .form-question__sent-img{
                margin-left: 1rem;
                margin-bottom: 2rem;
                svg{
                    width: 6rem;
                    height: 6rem;
                }
              }
             .question-form__btn {
                width: 100%;
             }
             .form-question__suptitle{
                margin-bottom: 2.3rem;
            }
            .form-question__title{
                margin-bottom: 1.3rem;
            }
        }
    }
  }

  