@font-face {
    font-family: 'Halvar Eng XBd';
    src: url('HalvarEng-XBdSlanted.eot');
    src: local('Halvar Engschrift ExtraBold Slanted'), local('HalvarEng-XBdSlanted'),
        url('HalvarEng-XBdSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-XBdSlanted.woff2') format('woff2'),
        url('HalvarEng-XBdSlanted.woff') format('woff'),
        url('HalvarEng-XBdSlanted.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Blk';
    src: url('HalvarEng-BlkSlanted.eot');
    src: local('Halvar Engschrift Black Slanted'), local('HalvarEng-BlkSlanted'),
        url('HalvarEng-BlkSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-BlkSlanted.woff2') format('woff2'),
        url('HalvarEng-BlkSlanted.woff') format('woff'),
        url('HalvarEng-BlkSlanted.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Rg';
    src: url('HalvarEng-BdSlanted.eot');
    src: local('Halvar Engschrift Bold Slanted'), local('HalvarEng-BdSlanted'),
        url('HalvarEng-BdSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-BdSlanted.woff2') format('woff2'),
        url('HalvarEng-BdSlanted.woff') format('woff'),
        url('HalvarEng-BdSlanted.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Blk SuSlanted';
    src: url('HalvarEng-BlkSuSlanted.eot');
    src: local('Halvar Engschrift Black SuperSlanted'), local('HalvarEng-BlkSuSlanted'),
        url('HalvarEng-BlkSuSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-BlkSuSlanted.woff2') format('woff2'),
        url('HalvarEng-BlkSuSlanted.woff') format('woff'),
        url('HalvarEng-BlkSuSlanted.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng XBd';
    src: url('HalvarEng-XBd.eot');
    src: local('Halvar Engschrift ExtraBold'), local('HalvarEng-XBd'),
        url('HalvarEng-XBd.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-XBd.woff2') format('woff2'),
        url('HalvarEng-XBd.woff') format('woff'),
        url('HalvarEng-XBd.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Blk';
    src: url('HalvarEng-Blk.eot');
    src: local('Halvar Engschrift Black'), local('HalvarEng-Blk'),
        url('HalvarEng-Blk.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-Blk.woff2') format('woff2'),
        url('HalvarEng-Blk.woff') format('woff'),
        url('HalvarEng-Blk.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Rg SuSlanted';
    src: url('HalvarEng-BdSuSlanted.eot');
    src: local('Halvar Engschrift Bold SuperSlanted'), local('HalvarEng-BdSuSlanted'),
        url('HalvarEng-BdSuSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-BdSuSlanted.woff2') format('woff2'),
        url('HalvarEng-BdSuSlanted.woff') format('woff'),
        url('HalvarEng-BdSuSlanted.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Rg';
    src: url('HalvarEng-Bd.eot');
    src: local('Halvar Engschrift Bold'), local('HalvarEng-Bd'),
        url('HalvarEng-Bd.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-Bd.woff2') format('woff2'),
        url('HalvarEng-Bd.woff') format('woff'),
        url('HalvarEng-Bd.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng XTh SuSlanted';
    src: url('HalvarEng-XThSuSlanted.eot');
    src: local('Halvar Engschrift ExtraThin SuperSlanted'), local('HalvarEng-XThSuSlanted'),
        url('HalvarEng-XThSuSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-XThSuSlanted.woff2') format('woff2'),
        url('HalvarEng-XThSuSlanted.woff') format('woff'),
        url('HalvarEng-XThSuSlanted.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng XTh';
    src: url('HalvarEng-XTh.eot');
    src: local('Halvar Engschrift ExtraThin'), local('HalvarEng-XTh'),
        url('HalvarEng-XTh.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-XTh.woff2') format('woff2'),
        url('HalvarEng-XTh.woff') format('woff'),
        url('HalvarEng-XTh.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng XTh';
    src: url('HalvarEng-XThSlanted.eot');
    src: local('Halvar Engschrift ExtraThin Slanted'), local('HalvarEng-XThSlanted'),
        url('HalvarEng-XThSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-XThSlanted.woff2') format('woff2'),
        url('HalvarEng-XThSlanted.woff') format('woff'),
        url('HalvarEng-XThSlanted.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng XBd SuSlanted';
    src: url('HalvarEng-XBdSuSlanted.eot');
    src: local('Halvar Engschrift ExtraBold SuperSlanted'), local('HalvarEng-XBdSuSlanted'),
        url('HalvarEng-XBdSuSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-XBdSuSlanted.woff2') format('woff2'),
        url('HalvarEng-XBdSuSlanted.woff') format('woff'),
        url('HalvarEng-XBdSuSlanted.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Hl SuSlanted';
    src: url('HalvarEng-HlSuSlanted.eot');
    src: local('Halvar Engschrift Hairline SuperSlanted'), local('HalvarEng-HlSuSlanted'),
        url('HalvarEng-HlSuSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-HlSuSlanted.woff2') format('woff2'),
        url('HalvarEng-HlSuSlanted.woff') format('woff'),
        url('HalvarEng-HlSuSlanted.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Th';
    src: url('HalvarEng-ThSlanted.eot');
    src: local('Halvar Engschrift Thin Slanted'), local('HalvarEng-ThSlanted'),
        url('HalvarEng-ThSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-ThSlanted.woff2') format('woff2'),
        url('HalvarEng-ThSlanted.woff') format('woff'),
        url('HalvarEng-ThSlanted.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Md';
    src: url('HalvarEng-Md.eot');
    src: local('Halvar Engschrift Medium'), local('HalvarEng-Md'),
        url('HalvarEng-Md.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-Md.woff2') format('woff2'),
        url('HalvarEng-Md.woff') format('woff'),
        url('HalvarEng-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Hl';
    src: url('HalvarEng-HlSlanted.eot');
    src: local('Halvar Engschrift Hairline Slanted'), local('HalvarEng-HlSlanted'),
        url('HalvarEng-HlSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-HlSlanted.woff2') format('woff2'),
        url('HalvarEng-HlSlanted.woff') format('woff'),
        url('HalvarEng-HlSlanted.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Lt';
    src: url('HalvarEng-Lt.eot');
    src: local('Halvar Engschrift Light'), local('HalvarEng-Lt'),
        url('HalvarEng-Lt.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-Lt.woff2') format('woff2'),
        url('HalvarEng-Lt.woff') format('woff'),
        url('HalvarEng-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Rg SuSlanted';
    src: url('HalvarEng-RgSuSlanted.eot');
    src: local('Halvar Engschrift Regular SuperSlanted'), local('HalvarEng-RgSuSlanted'),
        url('HalvarEng-RgSuSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-RgSuSlanted.woff2') format('woff2'),
        url('HalvarEng-RgSuSlanted.woff') format('woff'),
        url('HalvarEng-RgSuSlanted.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Lt SuSlanted';
    src: url('HalvarEng-LtSuSlanted.eot');
    src: local('Halvar Engschrift Light SuperSlanted'), local('HalvarEng-LtSuSlanted'),
        url('HalvarEng-LtSuSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-LtSuSlanted.woff2') format('woff2'),
        url('HalvarEng-LtSuSlanted.woff') format('woff'),
        url('HalvarEng-LtSuSlanted.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Th SuSlanted';
    src: url('HalvarEng-ThSuSlanted.eot');
    src: local('Halvar Engschrift Thin SuperSlanted'), local('HalvarEng-ThSuSlanted'),
        url('HalvarEng-ThSuSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-ThSuSlanted.woff2') format('woff2'),
        url('HalvarEng-ThSuSlanted.woff') format('woff'),
        url('HalvarEng-ThSuSlanted.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Md';
    src: url('HalvarEng-MdSlanted.eot');
    src: local('Halvar Engschrift Medium Slanted'), local('HalvarEng-MdSlanted'),
        url('HalvarEng-MdSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-MdSlanted.woff2') format('woff2'),
        url('HalvarEng-MdSlanted.woff') format('woff'),
        url('HalvarEng-MdSlanted.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Th';
    src: url('HalvarEng-Th.eot');
    src: local('Halvar Engschrift Thin'), local('HalvarEng-Th'),
        url('HalvarEng-Th.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-Th.woff2') format('woff2'),
        url('HalvarEng-Th.woff') format('woff'),
        url('HalvarEng-Th.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Rg';
    src: url('HalvarEng-RgSlanted.eot');
    src: local('Halvar Engschrift Regular Slanted'), local('HalvarEng-RgSlanted'),
        url('HalvarEng-RgSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-RgSlanted.woff2') format('woff2'),
        url('HalvarEng-RgSlanted.woff') format('woff'),
        url('HalvarEng-RgSlanted.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Rg';
    src: url('HalvarEng-Rg.eot');
    src: local('Halvar Engschrift Regular'), local('HalvarEng-Rg'),
        url('HalvarEng-Rg.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-Rg.woff2') format('woff2'),
        url('HalvarEng-Rg.woff') format('woff'),
        url('HalvarEng-Rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Md SuSlanted';
    src: url('HalvarEng-MdSuSlanted.eot');
    src: local('Halvar Engschrift Medium SuperSlanted'), local('HalvarEng-MdSuSlanted'),
        url('HalvarEng-MdSuSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-MdSuSlanted.woff2') format('woff2'),
        url('HalvarEng-MdSuSlanted.woff') format('woff'),
        url('HalvarEng-MdSuSlanted.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Hl';
    src: url('HalvarEng-Hl.eot');
    src: local('Halvar Engschrift Hairline'), local('HalvarEng-Hl'),
        url('HalvarEng-Hl.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-Hl.woff2') format('woff2'),
        url('HalvarEng-Hl.woff') format('woff'),
        url('HalvarEng-Hl.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Halvar Eng Lt';
    src: url('HalvarEng-LtSlanted.eot');
    src: local('Halvar Engschrift Light Slanted'), local('HalvarEng-LtSlanted'),
        url('HalvarEng-LtSlanted.eot?#iefix') format('embedded-opentype'),
        url('HalvarEng-LtSlanted.woff2') format('woff2'),
        url('HalvarEng-LtSlanted.woff') format('woff'),
        url('HalvarEng-LtSlanted.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

