.nav{
    display: flex;
    gap: 3rem;
    &__link{
        color: #292A29;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 0.7rem;
        font-size: 1.8rem;
        &-name{
            display: flex;
            align-items: center;
            gap: 0.7rem;
            color: #292A29;
            &:hover{
                color: #FFC700;
                transition: all 0.3s;
            }
        }
        svg{
            width: 1.1rem;
            height: 0.55rem;
        }
    }
    &-list{
        padding: 3rem 6.5rem 5.5rem 6.5rem;
        position: absolute;
        background-color: #fff;
        left: 0;
        right: 0;
        width: 100%;
        top: 19rem;
        border-radius: 0px 0px 3rem 3rem;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0rem 1.2rem 1.8rem 0rem rgba(0, 0, 0, 0.25);
        transition: all 0.5s;
        &__block-img{
            width: 16.3rem;
            height: 11.9rem;
            overflow: hidden;
            border-radius: 2rem;
            transition: all 0.5s;
        }
        &.active{
            opacity: 1;
            visibility: visible;
            transition: all 0.5s;
            // animation: fade-inm 1.1s;
            // @keyframes fade-inm {
            //     from {
            //         opacity: 0;
            //     }
            //     to {
            //         opacity: 1;
            //     }
            // }
        }
    }
    .solutions__list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem 4rem;
        &::before{
            content: '';
            position: absolute;
            left: 13.7rem;
            top: 0;
            background-color: #292A29;
            width: 9.4rem;
            height: 0.2rem;
        }
        &-link{
            display: flex;
            align-items: center;
            gap: 2rem;
            &:hover img{
                transform: scale(1.2);
                transition: all 0.3s;
            }
            &:hover .solutions__list-link__name{
                color: #FFC700;
                transition: all 0.3s;
            }
            img{
                width: 16.3rem;
                height: 11.9rem;
                object-fit: cover;
                border-radius: 1.5rem;
                transition: all 0.3s;
            }
            &__name{
                color: #292A29;
                transition: all 0.3s;
            }
        }
    }
    .productions__list{
        display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 3.5rem 1.5rem;
        &::before{
            content: '';
            position: absolute;
            left: 25.7rem;
            top: 0;
            background-color: #292A29;
            width: 9.4rem;
            height: 0.2rem;
        }
        &-link{
            display: flex;
            align-items: center;
            gap: 2rem;
            img{
                width: 16.3rem;
                height: 11.9rem;
                object-fit: cover;
                border-radius: 1.5rem;
            }
            &__name{
                color: #292A29;
            }
        }
        .production__item-text{
            text-transform: initial;
        }
        .production__item {
            @media (max-width:962px) {
                min-height: 7rem;
            }
        }
    }
    .about__list{
        padding: 1.1rem;
        display: none;
        justify-content: space-between;
        width: 100%;
        display: flex;
        &::before{
            content: '';
            position: absolute;
            left: 38.5rem;
            top: 0;
            background-color: #292A29;
            width: 9.4rem;
            height: 0.2rem;
        }
        &-links{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding-left: 12.9rem;
            padding-top: 3rem;
        }
        &-link{
            color: #292A29;
            transition: all 0.3s;
            &:hover{
                color: #FFC700;
                transition: all 0.3s;
            }
        }
        .form-question__title{
            font-size: 4.8rem;
        }
        .form-question__suptitle{
            margin-bottom: 2.5rem;
        }
        .form-question__descr{
            text-transform: initial !important;
        }
        .question-form{
            width: 68.1rem;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 3rem;
            gap: 1.5rem;
            justify-content: space-between;
            .block-input{
                width: 48.5%;
            }
            .input-group{
                position: relative;
                width: 100%;
                label{
                    position: absolute;
                    top: 50%;
                    left: 2rem;
                    transform: translateY(-50%);
                    pointer-events: none;
                    transition: all 0.3s;
                    color: #292A29;
                    opacity: 0.5;
                }
                &.area{
                    position: relative;
                    svg{
                        position: absolute;
                        right: 1rem;
                        bottom: 1rem;
                        width: 1.1rem;
                        height: 1.1rem;
                    }
                }
            }
            input,
            textarea{
                border: 0.1rem solid #292A29;
                border-radius: 1.2rem;
                padding: 2.2rem 2rem;
                width: 100%;
                position: relative;
                transition: 0.3s;
                background-color: transparent;
                height: 6.6rem;
                opacity: 0.3;
                display: block;
            }
            textarea{
                padding-top: 1.5rem;
                width: 100%;
                outline: none;
                height: auto;
                opacity: 0.5;
                color: #292A29;
                resize: none;
                position: relative;
                &::placeholder{
                    text-transform: uppercase;
                    color: #292A29;
                    
                }
            }
            textarea:focus{
                opacity: 1;
            }
            
            input:focus ~ label,
            input:valid ~ label{
                top: 1.1rem !important;
                left: 1.2rem;
                font-size: 1.4rem;
                opacity: 0.5;
                transform: translate(0);
            }
            input:focus,
            input:valid{
                padding-top: 3rem;
                padding-left: 1.2rem;
                transition: 0.3s;
                color: #292929;
                opacity: 1;
            }
            &__btn{
                width: 100%;
                padding: 1.5rem;
            }
            .input-arror{
                display: none;
            }
        }
        .form-question__content{
            width: auto;
            padding: 3.5rem 4.5rem 3.6rem 3.9rem;
            background-color: #FFC700;
            border-radius: 3rem;
        }
    }
}

.calc__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    li{
        list-style-type: none;
    }
    &::before{
        content: '';
        position: absolute;
        left: 75.5rem;
        top: 0;
        background-color: #292A29;
        width: 9.4rem;
        height: 0.2rem;
    }
    &-link{
        padding: 1.6rem 2rem;
        border-radius: 1.5rem;
        display: flex;
        gap: 2.2rem;
        font-size: 1.6rem;
        text-transform: none;
        font-family: 'Graphik LCG';
        color: #292A29;
        align-items: flex-start;
        border-bottom: 0.1rem solid transparent;
        transition: all 0.3s;
        background: linear-gradient(180deg, #E9E9EF 0%, #F4F4F6 100%);
        svg{
            width: 7.4rem;
            height: 3.4rem;
        }
        &:hover{
            background: #FFC700;
            border-bottom: 0.1rem solid  #000;
            transition: all 0.3s;
        }
    }
}
.about__name-link{
    transition: all 0.3s;
    &.active svg{
        transform: rotate(180deg);
        transition: all 0.3s;
    }
}
.nav__link-name{
    cursor: pointer;
    transition: all 0.3s;
}

.productions__name-link.active,
.solutions__name-link.active{
    svg{
        transform: rotate(180deg);
        transition: all 0.3s;
    }
}
.blur-link{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: -100vh;
    opacity: 0.7;
    background: #000;
    z-index: 7;
    transition: all 0.3s;
    &.active{
        display: block;
        animation: fade-inmM 0.7s;
        transition: all 0.3s;
            @keyframes fade-inmM {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 0.7;
                }
            }
    }
}

.calc__name-link.active{
    transition: all 0.3s;
    svg{
        transform: rotate(180deg);
        transition: all 0.3s;
    }
}


@media (max-width: 1440px){
    .nav .solutions__list::before{
        left: 6rem
    }
    .nav .about__list-links{
        padding-left: 5.8rem;
    }
    .nav .about__list::before{
        left: 31rem;
    }
    .nav .productions__list::before{
        left: 18rem;
    }
    .nav .calc__list::before{
        left: 68rem;
    }
}


