.page-404{
    margin-top: 15rem;
    width: 100%;
    position: relative;
    height: 50rem;
    @media (max-width: 962px){
        margin-top: 9rem;
        height: 30rem;
      }
    &__name{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        img{
          width: 113.5rem;
          height: 65.1rem;
          @media (max-width: 962px){
            width: 42.1rem;
            height: 27.1rem;
          }
        }
    }
}

.page-action{
    margin-bottom: 6rem;
    @media (max-width: 962px){
        margin-bottom: 2.5rem;
      }
    .container{
        @media (max-width: 962px){
            padding: 0 0.3rem;
          }
    }
    &__wrapper{
        padding: 5.9rem 5rem 5rem;
        text-align: center;
        border-radius: 4rem;
        background-color: $primary;
        @media (max-width: 962px){
            padding: 2.5rem 1.2rem;
          }
    }
    &__title{
        font-size: 7rem;
        line-height: 105%;
        text-transform: uppercase;
        @media (max-width: 962px){
           font-size: 3.4rem;
           max-width: 31rem;
           margin: auto;
           font-weight: 500;
           margin-bottom: 2.5rem;
          }
    }
    &__btns{
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        @media (max-width: 962px){
            flex-direction: column;
        }
    }
    &__subtitle{
        margin-bottom: 1rem;
    }
    &__title{
        margin-bottom: 3.4rem;
    }
    &__main-btn{
        padding: 1.5rem 3.5rem;
    }
    &__main-cons{
        padding: 1.5rem 3.5rem;
    }
}