.disctributors-main{
    margin-top: 19rem;
    padding-top: 6rem;
    padding-bottom: 4.8rem;
    @media (max-width: 962px) {
        margin-top: 8rem;
        padding-top: 3rem; 
    }
    &__title{
        margin-bottom: 2rem;
    }
    &__text{
        color: #585E63;
        max-width: 90rem;
        @media (max-width: 962px) {
            font-size: 1.4rem;
            span{
                display: block;
                margin-top: 1rem;
            }
        }
    }
}

.disctributors-social{
    padding: 2.2rem 0;
    border-radius: 2rem;
    background: linear-gradient(180deg, #E9E9EF 0%, #F4F4F6 100%);
    margin-bottom: 11.1rem;
    @media (max-width: 962px) {
        margin-bottom: 4rem;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 962px) {
            flex-direction: column;
        }
    }
    &__tel-it{
        color: $black;
        margin-bottom: 0.9rem;
        @media (max-width: 962px) {
            font-size: 2.8rem;
        }
    }
    &__tel-text{
        font-size: 1.4rem;
        margin-bottom: 0.4rem;
        color: #585E63;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 5rem;
        border-right: 0.1rem solid $black;
        margin-right: 4.7rem;
        height: 12.6rem;
        align-items: center;
        @media (max-width: 962px) {
            flex-direction: column;
            height: auto;
            padding: 0;
            margin: 0;
            border-right: 0;
            border-bottom: 0.1rem solid #D7DBE0;
            align-items: flex-start;
            gap: 2rem;
            padding-bottom: 2.5rem;
            margin-bottom: 2.5rem;
        }
    }
    &__descr{
        display: flex;
        flex-direction: column;
        min-width: 29.8rem;
        max-width: 29.8rem;
        gap: 2.2rem;
        @media (max-width: 962px) {
            min-width: 100%;
            max-width: 100%;
        }
    }
    &__descr-text{
        color:  #292A29;
        font-family: 'Graphik LCG';
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 120%;
        @media (max-width: 962px) {
            line-height: 140%;
            max-width: 29.8rem;
            font-weight: 400;
        }
    }
    &__descr-btn{
        border-radius: 6rem;
        padding: 0.8rem 2rem;
        width: 15rem;
        @media (max-width: 962px) {
            width: 100%;
            padding: 1.6rem 2rem;
        }
    }
}

.dilers{
    margin-bottom: 5rem;
    @media (max-width: 962px) {
        margin-bottom: 3.5rem;
    }
    .container{
         padding-top: 1.2rem;
         border-top: 0.1rem solid $black;
         padding: 1.2rem 0 0;
         @media (max-width: 962px) {
            margin: 0rem 1.2rem;
        }
    }
    &__name{
        font-size: 17.4rem;
        white-space: nowrap;
        text-transform: uppercase;
        @media (max-width: 962px) {
            font-size: 4.4rem;
            margin-bottom: 1.9rem;
        }
    }
    &__wrapper{
        display: flex;
        gap: 15rem;
        @media (max-width: 962px) {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
    &__text{
        @media (max-width: 962px) {
            font-size: 1.63rem;
        }
    }
    &__block-descr{
        display: none;
        @media (max-width: 962px) {
            display: block;
            margin-bottom: 2rem;
        }
    }
    &__descr{
        @media (max-width: 962px) {
            margin-bottom: 1rem;
        }
    }
    &__title{
        @media (max-width: 962px) {
            font-size: 2.8rem;
        }
    }
}

.criteria{
    margin-bottom: 9.3rem;
    .container{
        padding: 0;
        @media (max-width: 962px) {
            padding: 0 1.5rem;
        }
    }
    @media (max-width: 962px) {
        margin-bottom: 3.5rem;
    }
    &__wrapper{
        display: flex;
        gap: 2.5rem;
        @media (max-width: 962px) {
            flex-direction: column;
        }
    }
    &__title{
        max-width: 18.2rem;
    }
    &__inner{
        display: flex;
        flex-wrap: wrap;
        gap: 0 3.1rem;
    }
    &__item{
       color: $black;
       font-size: 1.6rem; 
       font-family: 'Graphik LCG';
       font-weight: 400;
        line-height: 140%;
        width: 52.2rem;
        padding: 1.8rem 2.9rem 1.8rem 3.3rem;
        border-bottom: 0.1rem solid #292A29;
        position: relative;
        gap: 0.5rem;
        svg{
            width: 3.2rem;
            height: 3.2rem;
            position: absolute;
            left: 0;
        }
    }
    &__item:nth-child(1){
        border-top: 0.1rem solid #292A29;
    }
    &__item:nth-child(2){
        border-top: 0.1rem solid #292A29;
        @media (max-width: 962px) {
            border-top: 0;
        }
    }
}

.filials{
    overflow: visible !important;
    height: 100%;
    @media (max-width: 962px) {
        margin-bottom: 5.5rem;;
    }
    .txt-blur{
        height: 11.7rem;
        bottom: 3rem;
    }
    &__wrapper{
        display: flex;
        gap: 12.4rem;
        @media (max-width: 962px) {
            flex-direction: column;
            gap: 1rem;
        }
    }
    &__btn--all{
        display: none;
        @media (max-width: 962px) {
            display: block;
            padding: 1.6rem;
        }
    }
    &__tabs{
        width: 33.4rem;
        position: sticky;
        height: 53rem;
        top: 10rem;
        @media (max-width: 962px) {
            position: static;
            height: auto;
        }
    }
    .tabs__block{
        margin-bottom: 8rem;
        @media (max-width: 962px) {
            margin-bottom: 5rem;
        }
    }
    &__tabs-item{
        padding: 1rem 0 1rem 2rem;
        border-bottom: 0.1rem solid #D7DBE0;
        cursor: pointer;
        transition: all 0.3s;
        span{
            color: #AEB2BF;
            transition: all 0.3s;
        }
        &.active{
            background-color: $black;
            color: $white;
            border-radius: 0.8rem;
            &:hover{
                span{
                    color: #AEB2BF;
                }
                border-color: #D7DBE0;
            }
        }
        &:hover{
            span{
                color: $primary;
                transition: all 0.3s;
            }
            border-color: $primary;
            transition: all 0.3s;
        }
        @media (max-width: 962px) {
            font-size: 1.6rem;
            padding: 1.2rem 0 1.4rem 1.2rem;
            padding-right: 4rem;
        }
    }
    &__adresses{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        gap: 3rem 4.5rem;
        align-items: baseline;
        @media (max-width: 962px) {
            grid-template-columns: repeat(1,1fr);
        }
        
    }
    &__adress{
        max-width: 39.2rem;
        padding-bottom: 2.6rem;
        border-bottom: 0.1rem solid $black;
        @media (max-width: 962px) {
            width: 100%;
            max-width: 100%;
            border-bottom: 0.1rem solid #D7DBE0;
        }
    }
    &__name{
        margin-bottom: 4.2rem;
        span{
            color: #AEB2BF;
        }
        @media (max-width: 962px) {
            font-size: 2.2rem;
            max-width: 30.9rem;
            margin-bottom: 2.4rem;
        }
    }
    &__adress-name{
        font-size: 2.4rem;
        color: $black;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 0.9rem;
    }
    &__adress-text{
        font-size: 1.6rem;
        color: #585E63;
        font-weight: 400;
        line-height: 130%;
        font-family: 'Graphik LCG';
        margin-bottom: 1rem;
        span{
            color: $black;
            font-weight: 500;
        }
    }
    .tabs__content{
        @media (max-width: 962px) {
            max-height: 72.8rem;
            overflow: hidden;
            position: relative;
            transition: all 0.3s;
        }
        &.active{
            transition: all 0.3s;
        }
    }
    &__adress-mail{
        color:  #292A29;
        font-size: 1.8rem;
        text-decoration-line: underline;
        margin-bottom: 0.8rem;
        text-decoration: underline !important;
        transition: all 0.3s;
        &:hover{
            color: $primary;
            transition: all 0.3s;
        }
    }
    &__adress-tel{
        font-size: 2.2rem;
        color: $black;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 0.6rem;
        transition: all 0.3s;
        &:hover{
            color: $primary;
            transition: all 0.3s;
        }
    }
    &__adress-site{
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 120%;
        color: $black;
        text-decoration: underline !important;
        margin-bottom: 0.8rem;
        transition: all 0.3s;
        &:hover{
            color: $primary;
            transition: all 0.3s;
        }
    }
}

.peculiarities-dilers{
    padding-bottom: 9.5rem;
    .container{
        padding: 0;
        @media (max-width: 962px) {
            padding: 0 1.5rem;
        }
    }
    @media (max-width: 962px) {
        overflow: hidden;
        padding-bottom: 5.5rem;
    }
    &__title{
        color: $black;
    }
    &__num{
        margin-bottom: 2.1rem;
    }
    &__wrapper{
        display: flex;
        gap: 10.2rem;
        @media (max-width: 962px) {
            flex-direction: column;
            gap: 1.5rem;
        }
    }
    &__num{
        opacity: 0.6;
        margin-bottom: 2.1rem;
        @media (max-width: 962px) {
            margin-bottom: 1.5rem;
        }
    }
    .swiper-slide{
        width: 30.3rem;
        &:nth-child(2){
           width: 26.4rem; 
        }
        &:nth-child(3){
            width: 35rem; 
         }
        svg{
            width: 10rem;
            height: 10rem;
            margin-bottom: 3.4rem;
            @media (max-width: 962px) {
                width: 6rem;
                height: 6rem;
                margin-bottom: 1.8rem;
            }
        }
        img{
            width: 8.2rem;
            height: 10.2rem;
            margin-bottom: 3.4rem;
            @media (max-width: 962px) {
                width: 5.3rem;
                height: 6.5rem;
                margin-bottom: 1.3rem;
            }
        }
        @media (max-width: 962px) {
            width: 20rem;
            &:nth-child(2){
                width: 23rem;
            }
            &:nth-child(3){
                width: 23rem;
            }
        }
    }
    &__slider{
        margin-left: 0 !important;
        @media (max-width: 962px) {
            margin-left: auto !important;
        }
    }
    .swiper-wrapper{
        width: 100%;
        display: flex;
        gap: 7rem;
        @media (max-width: 962px) {
            flex-direction: row;
            gap: 0rem;
        }
    }
    &__name{
        span{
            color: #AEB2BF;
        }
    }
}

.distrib-support{
    @media (max-width: 962px) {
        margin: 0 0.3rem;
    }
    .support-form__suptitle{
        max-width: 40rem;
    }
    .support-form__action{
        display: flex;
        flex-wrap: wrap;
        max-width: 61rem;
        @media (max-width: 962px) {
            max-width: 100%;
        }
    }
    .support-form__title{
        @media (max-width: 962px) {
            font-size: 3rem;
            span{
                display: inline;
            }
        }
    }
    .support-form__input-box{
        width: 29.4rem;
        @media (max-width: 962px) {
            width: 15.7rem;
        }
    }
    .support-form__btn{
        width: 100%;
        margin-top: 3.5rem;
        @media (max-width: 962px) {
            margin-top: 1.5rem;
        }
    }
    .support-form__content{
        padding-top: 6rem;
        @media (max-width: 962px) {
            padding-top: 0rem;
        }
    }
    .support-form__title{
        margin-bottom: 1rem;
    }
    .support-form__suptitle{
        margin-bottom: 3.3rem;
        @media (max-width: 962px) {
            max-width: 100%;
            font-size: 1.83rem;
        }
    }
    .support-form__img img{
        width: 69.2rem;
        height: 67.9rem;
    }
    .support-form__img{
        width: 69.2rem;
        height: 67.9rem;
        @media (max-width: 962px) {
            width: 100%;
            height: 22rem;
        }
        img{
            @media (max-width: 962px) {
                width: 100%;
                height: 22rem;
            }
        }
    }
}

.question{
    background-color: $primary;
    padding: 2.1rem 0 1.7rem;
    border-radius: 1rem;
    margin: 2.8rem 0.5rem 7rem;
    @media (max-width: 962px) {
        background-color: transparent;
        margin: 2.5rem 0 2rem;
        padding: 0;
    }
    .container{
        background-color: $primary;
        margin: 0 1.5rem;
        border-radius: 1.5rem;
    }
    &__text{
        @media (max-width: 962px) {
           text-align: center;
           font-size: 2.2rem;
        }
    }
    &__wrapper{
        display: flex;
        align-items: center;
        gap: 3.1rem;
        justify-content: center;
        @media (max-width: 962px) {
            flex-direction: column;
            align-items: center;
            padding: 2.5rem 1rem 3rem;
            gap: 1.5rem;
        }
    }
    &__btn{
        padding: 1.5rem 3.5rem;
    }
}