.main-section{
    position: relative;
    transition: all 0.5s;
    margin-top: 19.9rem;
    &__container-img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 2.5rem;
      }
      &__bg{
        width: 100%;
        object-fit: cover;
        height: 77.9rem;
        border-radius: 2.5rem;
    }
    &.fixed{
        transition: all 0.5s;
        margin-top: 15.9rem;
    }
    &__wrapper{
        position: absolute;
        top: 5.3rem;
        left: 7rem;
        right: 7rem;
    }
    &__title{
        font-size: 8rem;
        font-weight: 500;
        line-height: 102%; /* 81.6px */
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 2.6rem;
        span{
            color: #FFD000;
        }
    }
    &__suptitle{
        font-size: 3rem;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 2.8rem;
    }
    &__btn{
        margin-bottom: 15.5rem;
    }
    .catalog-main__btn{
        display: block;
        color: #fff;
        font-size: 1.8rem;
        line-height: 120%; /* 21.6px */
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 1.4rem;
        transition: all 0.3s;
        &:hover{
            color: $primary;
            transition: all 0.3s;
        }
    }
    .arrow-link{
        position: relative;
    }
    .bord{
        width: 4.9rem;
        height: 4.9rem;
        animation: spin 2s linear infinite;
    }
    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    .arr{
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%,-50%);
        width: 0.95rem;
        height: 0.95rem;
    }
    &__bottom{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__bottom-right{
        display: flex;
        gap: 12.3rem;
    }
    .right__item{
        position: relative;
        &:nth-child(2) .right__circle p{
            left: 0;
            top: 50%;
            transform: translate(15%,-50%);
        }
        &:nth-child(2){
            padding-right: 10.7rem;
        }
        &-text{
            position: absolute;
            left: 10rem;
            font-size: 1.8rem;
            color: #fff;
            width: 15rem;
            bottom: 2rem;
            text-transform: uppercase;
            line-height: 120%
        }
    }
    .right__circle svg{
        width: 11.7rem;
        height: 11.7rem;
    }
    .right__circle{
        position: relative;
        width: auto;
    }
    .right__circle p{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-size: 8rem;
        color: #FFD000;
    }
}

.advantages{
    padding: 6.8rem 0 7.1rem;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    .swiper-slide{
        width: 30.4rem;
    }
    &__item{
        width: 30.4rem;
    }
    &__text{
        font-size: 1.6rem;
        color: #585E63;
        font-family: 'Graphik LCG';
    }
    &__number{
        font-size: 1.4rem;
        line-height: 110%; /* 15.4px */
        text-transform: uppercase;
        color: #292A29;
        margin-bottom: 3rem;
        opacity: 0.6;
    }
    &__img{
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        margin-bottom: 2.5rem;
    }
    &__name{
        font-size: 3rem;
        font-weight: 400;
        line-height: 120%;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
}


.wrap {
    max-width: 100%;
    background-color: #FFD000;
    padding: 3.6rem 0;
    width: 100%;
    &__items {
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: 2rem;
        width: 100%;
        &-line {
            flex-shrink: 0;
            display: flex;
            gap: 3rem;
            justify-content: space-around;
            &.marquee {
                animation: scroll 60s linear infinite;
                animation-delay: -60s; /* Задержка равная продолжительности анимации */
            }
        }
    }
    
    &__item {
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: #292A29;
        transition: all 0.1s ease-in-out;
        line-height: 120%;
        text-transform: uppercase;
        gap: 3rem;
        align-items: center;
        
        svg:nth-child(1) {
            width: 11.7rem;
            height: 5.7rem;
        }
        
        svg:nth-child(2) {
            width: 2.2rem;
            height: 2.2rem;
        }
    }
    
    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - 10px));
        }
    }

    @-webkit-keyframes scroll {
        from {
            -webkit-transform: translateX(0);
        }
        to {
            -webkit-transform: translateX(calc(-100% - 10px));
        }
    }

    .marquee {
        animation: scroll 60s linear infinite;
        animation-delay: -60s;
        -webkit-animation: scroll 60s linear infinite;
        -webkit-animation-delay: -60s;
    }

    .reverce {
        animation-direction: reverse;
    }
}


.production{
    padding: 10rem 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3.5rem;
    }
    &__title{
        color: $black;
    }
    &__btn{
        padding: 1.5rem 3.5rem;
        &:hover{
            background-color: $primary;
            color: $black;
            transition: all 0.3s;
        }
        &--mobile{
           display: none;
        }
    }
    .swiper-wrapper{
        display: grid;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:4rem 1.5rem;
    }
    &__item{
        cursor: pointer;
        width: 100%;
        position: relative;
        &-img{
            width: 100%;
            height: 21.4rem;
            border-radius: 2rem;
            background-color: beige;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 2rem;
            background: $gradient;
            overflow: hidden;
            img{
                height: 18.9rem;
                object-fit: cover;
                transition: all 0.3s;
            }
        }
        &:hover .production__item-img img{
            scale: 1.2;
            transition: all 0.3s;
            transform: translateY(10%);
        }
        &:hover .production__item-link{
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;
        }
        &:hover .production__item-name{
            opacity: 1;
            border-color: $primary;
            transition: all 0.3s;
            position: relative;
            z-index: 1;
        }
        &-name{
            padding-bottom: 1.5rem;
           border-bottom: 1px solid $gray3;
           margin-bottom: 1.5rem;
           padding-right: 3.5rem;
        }
        &-text{
            color: $gray3;
            padding-right: 2rem;
        }
        &-link{
            position: absolute;
            top: 1.2rem;
            right: 1.3rem;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            svg{
                width: 4.9rem;
            }
        }
    }
}

.support-form{
    display: flex;
    justify-content: space-between;
    background: $gradient_card_dark;
    padding: 0.5rem;
    border-radius: 2rem;
    &__content{
        padding-top: 8rem;
        padding-left: 6.5rem;
    }
    &__img{
        width: 70.2rem;
        height: 61.9rem;
        img{
            width: 70.2rem;
            height: 61.9rem;
            object-fit: cover;
            border-radius: 1.5rem;
        }
    }
    &__title{
        color: $white;
        margin-bottom: 2.4rem;
    }
    &__suptitle{
        color: $white;
        margin-bottom: 5.3rem;
    }
    &__action{
        display: flex;
        gap: 1.5rem;
    }
    &__input-box{
        width: 31.4rem;
        border-radius: 1.2rem;
        border: 0.1rem solid $white_50;
        max-height: 6.6rem;
    }
    &__input{
        padding: 2.2rem 2rem;
        color: $white;
        border: 0;
        width: 100%;
        height: 6.6rem;
    }
    &__btn{
        padding: 2.2rem 5.8rem;
        color: $black;
        background-color: $primary;
    }
    &__agreement{
        color: $white_70;
        margin-top: 3.5rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 110%;
        a{
            display: inline;
            color: $white;
            transition: all 0.3s;
            &:hover{
                color: $primary;
                transition: all 0.3s;
            }
        }
    }
    &__input-box{
        position: relative;
        .label-name{
            position: absolute;
            top: 50%;
            left: 2.2rem;
            transform: translateY(-50%);
            pointer-events: none;
            transition: .5s;
            color: $white;
            opacity: 0.4;
        }
        input:valid ~ .label-name,
        input:focus ~ .label-name{
            top: 1.1rem;
            left: 1.2rem;
            padding: 0;
            font-size: 1.4rem;
            opacity: 0.4;
            transform: translateY(0%);
        }
        input:valid,
        input:focus{
            padding-left: 1.2rem;
            padding-top: 1rem;
            padding-bottom: 0;
        }
        .input-arror{
            position: absolute;
            left: 0;
            bottom: -2rem !important;
            width: 20rem;
            font-size: 1.2rem;
            line-height: 120%; /* 14.4px */
            text-transform: uppercase;
            color: #FFCACA;
            opacity: 0;
        }
        .input-arror.visible{
            opacity: 1;
            transition: all 0.3s;
        }
    }
    .support-form__agreement{
        font-family: 'Graphik LCG';
        font-weight: 400;
    }
}
.swiper{
    overflow: visible !important;
}
.solutions{
    position: relative;
    overflow: hidden;
    padding: 21rem 0 5rem;
    &__bg{
        position: absolute;
        width: 143.8rem;
        height: 173.2rem;
        left: 0;
        top: -68rem;
        z-index: -1;
    }
    &__btn-all--mobile{
        display: none;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2.3rem;
    }
    &__title{
        color: $black;
    }
    &__btns{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    &__btn-all{
        color: $black;
        padding: 1.5rem 3.5rem;
    }
    .swiper-slide{
        width: 53.3rem;
    }
    &__slide{
        width: 53.3rem;
        cursor: pointer;
        &:hover .solutions__slide-name{
            border-color: $primary;
            transition: all 0.3s;
        }
        &:hover .solutions__slide-link svg stop{
            stop-color: $primary;
            transition: all 0.3s;
        }
        &:hover .solutions__slide-link svg path {
            
            transition: all 0.3s;
        }
        &:hover .solutions__slide-img img{
            transform: scale(1.2);
            transition: all 0.3s;
        }
        &-img{
            border-radius: 2rem;
            margin-bottom: 2rem;
            overflow: hidden;
            isolation: isolate;
            img{
                width: 53.3rem;
                height: 34.2rem;
                object-fit: cover;
                border-radius: 2rem;
                transition: all 0.3s;
            }
        }
        &-content{
            padding-top: 1.3rem;
            width: 47.3rem;
            display: flex;
            color: $body_text;
        }
        &-name{
            color: $black;
            padding-bottom: 2rem;
            border-bottom: 0.1rem solid $gray3;
            width: 47.3rem;
        }
        &-link{
            svg{
                width: 4.9rem;
                height: 4.7rem;
            }
        }
    }
    .solutions__slide-img{
        border-radius: 2rem;
    }
}

.services{
    padding-top: 4.7rem;
    padding-bottom: 14.4rem;
    &__btn{
        padding: 1.5rem 3.5rem;
    }
    &__btn--mobile{
        display: none;
    }
    &__wrapper{
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
    &__top{
        margin-bottom: 3.9rem;
    }
    .swiper-slide{
        width: 42.3rem;
    }
    &__item{
        color: $black;
        width: 42.3rem;
        position: relative;
        border-radius: 2rem;
        background: $gradient;
        padding: 2.3rem 3rem 3rem;
        &:nth-child(1) img{
            width: 21.9rem;
            height: 20.9rem;
        }
        &:nth-child(2) img{
            width: 22.3rem;
            height: 19.9rem;
        }
        &:nth-child(3) img{
            width: 27.7rem;
            height: 18.7rem;
        }
        &:nth-child(4){
           display: flex;
           width: 64.3rem;
           align-items: center;
           gap: 6.1rem;
        }
        &:nth-child(5){
            display: flex;
            width: 63.7rem;
            align-items: center;
            gap: 6.1rem;
         }
        &:nth-child(4) img{
            width: 15.1rem;
            height: 21.3rem;
        }
        &:nth-child(5) img{
            width: 11.6rem;
            height: 19.01rem;
            padding-left: 1.5rem;
        }
        &:hover .services__item-name{
            border-color: $primary;
            transition: all 0.3s;
        }
        &:hover .services__item-num{
            background-color: $primary;
            color: $black;
            transition: all 0.3s;
        }
        &__item-name{
            color: $black;
        }
        &-img{
            width: 100%;
            height: 25.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1.2rem;
        }
        &-num{
            position: absolute;
            left: 1rem;
            top: 1rem;
            padding: 1rem;
            border-radius: 10rem;
            background-color: $white;
            color: $gray3;
            font-size: 1.4rem;
        }
        &-name{
            padding-bottom: 1rem;
            border-bottom: 0.1rem solid $gray3;
            margin-bottom: 2rem;
        }
        &-text{
            color: $body_text;
        }
    }
}
.swiper-button-prev{
    margin-right: -1rem;
}
.reviews__btns{
    gap: 1.7rem;
}
.solutions__btns{
    gap: 1.7rem;
}
.prod{
    padding-bottom: 6rem;
    &__title{
        font-size: 25rem;
        letter-spacing: -12.5px;
        text-transform: uppercase;
        color: $black;
        text-align: center;
        margin-left: -2.5rem;
        border-top: 0.1rem solid $black;
        line-height: 90%;
        margin-bottom: 5rem;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        border-bottom: 0.1rem solid $gray3;
    }
    &__content{
        width: 86.2rem;
        &-text{
            margin-bottom: 4.6rem;
            &:nth-child(1){
                margin: 0;
            }
        }
        &-list{
            display: flex;
            padding-bottom: 4.1rem;
            &-item{
                &:nth-child(1){
                    padding-right: 3.8rem;
                    min-width: 27.7rem;
                    border-right: 0.1rem solid $black;
                }
                &:nth-child(2){
                    padding: 0 3.5rem;
                    border-right: 0.1rem solid $black;
                    min-width: 21.5rem;
                }
                &:nth-child(3){
                    padding: 0 3.6rem;
                }
            }
            &-number{
               font-size: 6rem;
               color: $black;
               text-transform: uppercase;
            }
            &-text{
                color: $body_text;
            }
        }
    }
    &__certificates{
        &-img{
            margin-bottom: 1.1rem;
            display: flex;
            align-items: center;
        }
        &-img img{
            position: relative;
            width: 11.2rem;
            height: 15.8rem;
            border-radius: 0.8rem;
            border: 0.1rem solid rgba(189, 192, 202, 0.40);
            object-fit: contain;
            &:nth-child(1){
                z-index: 7;
            }
            &:nth-child(2){
                width: 9.1rem;
                height: 12.8rem;
                margin-left: -1rem;
                z-index: 6;
            }
            &:nth-child(3){
                width: 7.3rem;
                height: 10.1rem;
                margin-left: -0.9rem;
                z-index: 5;
            }
            &:nth-child(4){
                width: 5.7rem;
                height: 7.9rem;
                margin-left: -0.7rem;
                z-index: 4;
            }
        }
        &-btn{
            display: flex;
            align-items: center;
            gap: 1.8rem;
            color: $black;
            &:hover{
                color: $primary;
                transition: all 0.3s;
            }
            &:hover svg stop{
                stop-color: $primary;
                transition: all 0.3s;
            }
            &:hover svg path{
                stroke: $primary;
                transition: all 0.3s;
            }
            svg{
                width: 4.9rem;
                height: 4.9rem;
            }
        }
    }
}

.work{
    overflow: hidden;
    padding-bottom: 11rem;
    &__btns{
        display: flex;
        align-items: center;
        gap: 1.7rem;
    }
    &__btn-all{
        padding: 1.5rem 3.5rem;
    }
    &__top{
        margin-bottom: 3.6rem;
    }
    &__slider{
        margin-bottom: 3.6rem;
        .swiper-slide img{
            margin-bottom: 2.5rem;
            height: 41.4rem;
        }
    }
    &__btn{
        width: 100%;
        padding: 1.5rem;
        &-all--mobile{
            display: none;
        }
    }
    .swiper-slide{
        cursor: pointer;
        .work__slide-img{
            height: 41.4rem;
            overflow: hidden !important;
            isolation: isolate;
            border-radius: 2rem;
            margin-bottom: 2.5rem;
            img{
                transition: all 0.3s;
            }
        }
        &:hover .work__slide-img img{
            transform: scale(1.2);
            transition: all 0.3s;
        }
    }
}

.projects{
    padding-bottom: 12.2rem;
    overflow: hidden;
    &__tab-slider{
        width: auto !important;
        margin-left: 0 !important;
    }
    &__top{
        flex-wrap: wrap;
        // margin-bottom: 4rem;
    }
    &__review-btn{
        display: none;
    }
    &__lable{
        position: absolute;
        padding: 0.8rem 1.5rem;
        background-color: $white;
        top: 1.6rem;
        left: 1.5rem;
        color: $black;
        z-index: 777;
    }
    &__top.section__header{
        margin-bottom: 2rem;
    }
    &__title{
        width: 100%;
        margin-bottom: 1rem;
    }
    &__tabs{
        display: flex;
        gap: 0.8rem;
        .swiper-slide{
            width: auto;
        }
    }
    &__tab{
        padding: 0.8rem 1.5rem;
        border-radius: 3.2rem;
        border: 0.1rem solid #000;
        color: $black;
        cursor: pointer;
        &.active{
            border: none;
            background-color: $black;
            color: $white;
            span{
                color: $white_50;
            }
        }
        &:hover{
            border: 0.1rem solid $hover_yellow;
            transition: all 0.3s;
        }
    }
    .projects__tab-slider{
        width: 100%;
    }
    .projects__slide{
        cursor: pointer;
    }
    .projects__slide:hover .projects__lable{
        background-color: $primary;
        transition: all 0.3s;
    }
    .projects__slide:hover .projects__slide-img img{
        transform: scale(1.2);
        transition: all 0.3s;
    }
    &__slider{
        display: none !important;
        margin-bottom: 5rem;
        &.active{
            display: block !important;
        }
        .swiper-slide .projects__slide-img{
            height: 41.4rem;
            margin-bottom: 2.5rem;
            overflow: hidden;
            isolation: isolate;
            border-radius: 2rem;
        }
        .swiper-slide img{
            margin-bottom: 2.5rem;
            height: 41.4rem;
            border-radius: 2rem;
            object-fit: cover;
            transition: all 0.3s;
        }
    }
    &__slide{
        position: relative;
        &-name{
            margin-bottom: 1.5rem;
        }
        &-text{
            padding-right: 5.3rem;
            color: $body_text;
        }
    }
    &__btn{
        width: 100%;
        padding: 1.5rem;
    }
}

.reviews{
    overflow: hidden;
    padding-bottom: 10rem;
    &__btns{
        display: flex;
        align-items: center;
    }
    &__btn-all{
        padding: 1.5rem 3.5rem;
    }
    &__top{
        margin-bottom: 4rem;
    }
    &__btn-all--mobile{
        display: none;
    }
    &__slider{
        .swiper-slide{
            background: $gradient_card_dark;
            display: flex;
            padding: 0.5rem;
            border-radius: 2rem;
            gap: 3.8rem;
            img{
                width: 22.6rem;
                height: 31.9rem;
                border-radius: 15px;
                margin: 0;
            }
        }
    }
    &__slide{
        cursor: pointer;
        &:hover{
          .reviews__slide-link-rev{
            color: $primary;
          }  
        }
        &-img{
            height: 31.9rem;
            margin: 0;
        }
        &-content{
            padding: 2.5rem 3.4rem 2.5rem 0rem;
        }
        &-name{
            color: $white;
            margin-bottom: 2rem;
        }
        &-text{
            color: $white_70;
            margin-bottom: 1.6rem;
        }
        &-link{
            color: $white;
            text-transform: uppercase;
            text-decoration: underline !important;
            font-size: 1.6rem;
            margin-bottom: 4.1rem;
            &:hover{
                  color: $primary;
                  transition: all 0.3s;
                } 
        }
        &-link-rev{
            display: flex;
            align-items: center;
            gap: 1.5rem;
            color: $white;
            svg{
               width: 4.9rem;
               height: 4.9rem; 
            }
        }
    }
}

.news{
    padding-top: 8rem;
    border-radius: 2rem;
    background: linear-gradient(180deg, #EFEFF2 0%, #F4F4F6 100%);
    padding-bottom: 10rem;
    &__tabs{
        display: flex;
        align-items: center;
        gap: 0.8rem;
    }
    &__top{
        margin-bottom: 4rem;
    }
    &__tab{
        border: 0.1rem solid #000;
        padding: 0.8rem 1.5rem;
        color: $black;
        cursor: pointer;
        &:hover{
            border-color: $hover_yellow;
            transition: all 0.3s;
        }
        &.active{
            border: none;
            background-color: $black;
            color: $white;
        }
    }
    .swiper-slide{
        height: auto;
        display: flex;
    }
    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: 5rem;
        gap: 1rem;
    }
    &__img{
        position: relative;
        margin-bottom: 3rem;
        img{
            width: 61.8rem;
            border-radius: 2rem
        }
    }
    &__label{
        padding: 0.8rem 1.5rem;
        border-radius: 3.2rem;
        background-color: $white;
        color: $black;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
        z-index: 1;
    }
    &__info{
        width: 59.9rem;
        &-date{
           color: $gray3;
           margin-bottom: 1.9rem;
        }
        &-name{
            margin-bottom: 2rem;
            color: $black;
        }
        &-text{
            color: $body_text;
            max-width: 44.3rem;
        }
    }
    &__btn-all{
        width: 100%;
        padding: 1.5rem;
    }
    &__articles{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &-item{
            position: relative;
            display: flex;
            justify-content: space-between;
            gap: 3rem;
            background-color: transparent;
            transition: all 0.3s;
            width: 100%;
            padding-bottom: 2.1rem;
            border-bottom: 0.1rem solid $black;
            padding: 2.1rem 2.5rem;
            border-radius: 0;
            &:hover{
                border-radius: 3rem;
                background-color: $white;
                transition: all 0.3s ease;
                .news__label{
                    top: 2.1rem;
                    left: 2.5rem;
                    transition: all 0.3s;
                    background-color: $primary;
                }
            }
            &:not(:hover) {
                .news__label {
                    top: 0;
                    left: 0;
                    background-color: $white; // Используйте начальный цвет фона
                    transition: all 0.3s;
                }
            }
            &-content{
                padding-top: 4.2rem;
            }
            &-img{
                img{
                    width: 21.9rem;
                    border-radius: 2rem;
                }
            }
            &-name{
                color: $black;
                margin-bottom: 1.5rem;
            }
            &-text{
                font-size: 1.6rem;
                color: $body_text;
                font-weight: 300;
                font-family: 'Graphik LCG';
            }
        }
        .news__label{
            padding: 0.6rem 1rem;
            font-size: 1.4rem;
            left: 0;
            top: 0;
        }
        .news__info-date{
            margin-bottom: 1.5rem;
        }
    }
    &__news{
        padding: 0;
        padding-right: 2rem;
        transition: all 0.3s;
        min-width: 100%;
        &:hover{
            padding: 2rem;
            background-color: $white;
            border-radius: 2rem;
            border-bottom: 0.1rem solid $black;
            transition: all 0.3s;
            img{
                width: 59.8rem;
                transition: all 0.3s;
            }
        }
    }
}
.form-question{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 2rem;
        background-color: $primary;
    }
    .input-arror{
        display: none;
        color: #DF4E4E;
        text-transform: uppercase;
        &.active{
            display: block;
        }
    }
    &__img{
        position: relative;
        height: 67.9rem;
        img{
            width: 69.2rem;
            border-radius: 1.5rem;
        }
    }
    &__content{
        width: 100%;
        padding: 11.2rem 7.1rem 0 6.5rem;
    }
    &__title{
        color: $black;
        margin-bottom: 1.2rem;
    }
    &__suptitle{
        color: $black;
        margin-bottom: 5.2rem;
    }
    .worker{
        position: absolute;
        right: 1rem;
        bottom: 1.5rem;
        padding: 1.2rem 2rem;
        border-radius: 2rem;
        background-color: $primary;
    }
    .question-form{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        gap: 1.5rem;
        .input-group{
            position: relative;
            label{
                position: absolute;
                top: 50%;
                left: 2rem;
                transform: translateY(-50%);
                pointer-events: none;
                transition: all 0.3s;
                color: $black;
                opacity: 0.5;
            }
            &.area{
                position: relative;
                svg{
                    position: absolute;
                    right: 1rem;
                    bottom: 1rem;
                    width: 1.1rem;
                    height: 1.1rem;
                }
            }
        }
        input,
        textarea{
            border: 0.1rem solid $black;
            border-radius: 1.2rem;
            padding: 2.2rem 2rem;
            width: 28.3rem;
            position: relative;
            transition: 0.3s;
            background-color: transparent;
            height: 6.6rem;
            opacity: 0.3;
            display: block;
        }
        textarea{
            padding-top: 1.5rem;
            width: 58rem;
            outline: none;
            height: auto;
            opacity: 0.5;
            color: $black;
            resize: none;
            position: relative;
            &::placeholder{
                text-transform: uppercase;
                color: $black;
                
            }
        }
        textarea:focus{
            opacity: 1;
        }
        
        input:focus ~ label,
        input:valid ~ label{
            top: 1.1rem !important;
            left: 1.2rem;
            font-size: 1.4rem;
            opacity: 0.5;
            transform: translate(0);
        }
        input:focus,
        input:valid{
            padding-top: 3rem;
            padding-left: 1.2rem;
            transition: 0.3s;
            color: $black;
            opacity: 1;
        }
        &__btn{
            width: 58rem;
            padding: 1.5rem;
        }
    }
    &__descr{
        color: rgba(35, 38, 43, 0.60);
        a{
            display: inline;
            color: $black;
            &:hover{
                color: $black;
                text-decoration: underline;
            }
        }
    }
}

.partners{
    overflow: hidden;
    padding: 9rem 0 7rem;
    &__title{
        text-align: center;
        color: $black;
        margin-bottom: 6.4rem;
    }
    &__slider{
        .partners__slide{
            border-radius: 50%;
            height: 21.9rem;
            width: 21.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(180deg, #E7E7EB 0%, #F4F4F6 100%);
        }
    }
    &__wrapper{
        width: 100%;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        align-items: center;
    }
}

  .partners {
    max-width: 100%;
    margin: auto;
    padding: 9rem 0 7rem;
    &__title{
        text-align: center;
        color: $black;
        margin-bottom: 6.4rem;
    }
  }
  .partners__wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
  }
  .partners__items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .partners__item {
    counter-increment: item;
    transition: all 0.1s ease-in-out;
    border-radius: 50%;
    height: 21.9rem;
    width: 21.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #E7E7EB 0%, #F4F4F6 100%);
  }
  .item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .marquee {
    animation: scroll 20s linear infinite;
  }
  .reverce {
    animation-direction: reverse;
  }
  .items-wrap:hover .marquee {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
  
  
  

// Adaptive

@media (max-width: 962px){
   .main-section{
    margin-top: 7.8rem;
    padding: 0 0.3rem;
    height: 87svh;
    &.fixed{
        margin-top: 7.8rem;
    }
    &__btn{
        margin-bottom: 0;
    }
    &__bg{
        width: 100%;
        object-fit: cover;
        border-radius: 2rem;
        height: 100%;
    }
    &__wrapper{
        top: 3rem;
        left: 1.2rem;
        right: 1.2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 96%;
    }
    &__title{
        font-size: 3.4rem;
        margin-bottom: 1.5rem;
        padding-right: 5rem;
        br{
            display: none;
        }
    }
    &__suptitle{
        font-size: 2.1rem;
        br{
            display: none;
        }
    }
    &__bottom{
        flex-wrap: wrap;
        &-right{
            order: 0;
        }
        .catalog-main__btn{
            order: 1;
            margin: auto ;
            padding: 0.9rem;
            align-items: center;
            p{
                margin-top: -0.5rem;
            }
        }
        &-right{
            width: 100%;
            gap: 0;
            padding-bottom: 2.1rem;
            border-bottom: 0.1rem solid rgba(255,255,255, 0.2);
        }
        .right{
            &__circle{
                svg{
                    width: 7.5rem;
                    height: 7.5rem;
                }
                p{
                    font-size: 4rem;
                }
            }
            &__item{
                display: flex;
                align-items: center;
                gap: 0.6rem;
                &:nth-child(2) .right__circle p{
                    transform: translate(33%, -50%);
                }
            }
            &__item-text{
                position: static;
                width: 8.6rem;
                font-size: 1.6rem;
            }
        }
    }
   }
   .advantages{
    padding: 2.8rem 1.5rem 3.6rem;
    .swiper-slide{
        width: 21.5rem;
    }
    &__img{
        width: 7rem;
        height: 7rem;
    }
    &__name{
        font-size: 2rem;
        &.border-name{
            color: $black;
            -webkit-text-stroke: 0;
            br{
                display: none;
            }
        }
    }
    &__text{
        font-size: 1.4rem;
    }
   }
   .wrap{
        padding: 1.9rem 0;
        &__item{
            font-size: 2rem;
            svg:nth-child(1) {
                width: 7.4rem;
                height: 4.4rem;
            }
            svg:nth-child(2) {
                width: 2rem;
                height: 2rem;
            }
        }
        &__items{
            gap: 1.5rem;
        }
    }
    .production{
        padding: 5rem 1.5rem 5.5rem;
        .swiper-wrapper{
            display: flex;
        }
        &__wrapper{
            gap: 0;
        }
        .swiper-slide{
            width: 26.1rem;
        }
        &__item{
            &-img img{
                height: 19rem;
            }
            &-name{
                font-size: 1.8rem;
                padding-right: 1.6rem;
            }
            &-text{
                padding-right: 1.6rem;
            }
        }
        &__btn{
            display: none;
            &--mobile{
                margin-top: 2rem;
                display: block;
                width: 100%;
                padding: 1.5rem;
            }
        }
        &__inner{
            margin-bottom: 2.5rem;
        }
    }
    .support-form{
        flex-direction: column;
        padding-top: 4rem;
        &__content{
            padding: 0;
            padding: 0 0.7rem;
        }
        &__img{
            height: 26.1rem;
        }
        &__img img{
            width: 100%;
            height: 26.1rem;
        }
        &__title{
            font-size: 3.4rem;
            margin-bottom: 2rem;
        }
        &__suptitle{
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        &__action{
            align-items: center;
        }
        &__btn{
            font-size: 1.6rem;
            padding: 1.7rem 2rem;
            white-space: nowrap;
        }
        &__input-box{
            width: 15.7rem;
            border-radius: 10rem;
        }
        &__input{
            padding: 1.9rem 1.6rem 1.6rem;
            height: 5.4rem
        }
        &__agreement{
            margin-bottom: 3rem;
            font-size: 1.2rem;
            font-family: 'Graphik LCG';
        }
        input:valid ~ .label-name,
        input:focus ~ .label-name{
            font-size: 1rem;
        }
        input:valid ~ .label-name,
        input:focus ~ .label-name{
            left: 2rem;
        }
        input:valid,
        input:focus{
            padding-left: 2rem;
        }
    }
    .solutions{
        padding-top: 6rem;
        &__btn-all{
            display: none;
        }
        &__btn-all--mobile{
            display: block;
            width: 100%;
            padding: 1.5rem;
        }
        .slider__arrows{
            display: none;
        }
        &__wrapper{
            margin-bottom: 3rem;
        }
        &__top{
            margin-bottom: 2.5rem;
        }
        &__bg{
            display: none;
        }
        .swiper-slide{
            width: 30rem;
        }
        &__slide{
            position: relative;
            &-img img{
                width: 100%;
                height: 20rem;
            }
            &-name{
                width: 28rem;
            }
            &-text{
                width: 28rem;
            }
            &-link{
                position: absolute;
                top: 14.7rem;
                right: 1rem;
            }
        }
    }
    .services{
        padding-top: 0;
        padding-bottom: 5.4rem;
        &__btn{
            display: none;
        }
        &__btn--mobile{
            display: block;
            width: 100%;
            padding: 1.5rem;
            margin-top: 3rem;
            border: 1px solid  $black;
            background: transparent;
            color: $black;
        }
        &__slider{
            width: 100%;
        }
        &__top{
            margin-bottom: 2.5rem;
        }
        .swiper-slide{
            width: 30rem;
        }
        .swiper-wrapper{
            display: flex;
            flex-wrap: nowrap;
            gap: 0;
        }
        &__item{
            padding: 0;
            background: transparent;
            &-img{
                border-radius: 1.5rem;
                width: 100%;
                height: 25.3rem;
                background: linear-gradient(180deg, #EFEFF2 0%, #F4F4F6 100%);
            }
            &:nth-child(1) img{
                width: 19.4rem;
                height: 18.5rem;
            }
            &:nth-child(2) img{
                width: 19.4rem;
                height: 18.5rem;
            }
            &:nth-child(3) img{
                width: 21.4rem;
                height: 18.5rem;
            }
            &:nth-child(4) img{
                width: 15.4rem;
                height: 18.5rem;
            }
            &:nth-child(5) img{
                width: 15.4rem;
                height: 18.5rem;
            }
        }
        &__item:nth-child(4){
            display: block;
        }
        &__item:nth-child(5){
            display: block;
        }
    }
    .prod{
        &__wrapper{
            flex-direction: column;
            border: none;
        }
        &__content{
            width: 100%;
        }
        &__title{
            font-size: 6.1rem;
            letter-spacing: -3.097px;
            margin-left: 0;
            padding-top: 1rem;
            margin-bottom: 1.5rem;
        }
        &__content{
            &-text{
                font-size: 1.6rem;
                font-family: 'Graphik LCG';
                margin-bottom: 3.5rem;
                &:nth-child(1){
                    margin-bottom: 1rem;
                }
            }
            &-list{
                &-number{
                    font-size: 2.8rem;
                }
                &-text{
                    font-size: 1.4rem;
                }
                &-item:nth-child(1){
                    min-width: 10.5rem;
                    padding-right: 1rem;
                    border: none;
                    margin-right: 2.6rem;
                }
                &-item:nth-child(2){
                    min-width: 10.5rem;
                    padding-left: 0;
                    padding-right: 1rem;
                    border: none;
                }
                &-item:nth-child(3){
                    padding-left: 0;
                }
            }
        }
        &__certificates{
            display: flex;
            padding: 1.5rem;
            gap: 2.4rem;
            background: $gradient;
            border-radius: 1.2rem;
            align-items: flex-start;
            &-img img:nth-child(1){
                width: 5.8rem;
                height: 8.2rem;
            }
            &-img img:nth-child(2){
                width: 4.7rem;
                height: 6.7rem;
                margin-left: -0.6rem;
            }
            &-img img:nth-child(3){
                width: 3.8rem;
                height: 5.3rem;
                margin-left: -0.6rem;
            }
            &-img img:nth-child(4){
                width: 3rem;
                height: 4.1rem;
                margin-left: -0.6rem;
            }
            &-btn{
                flex-direction: column;
                align-items: flex-start;
                font-size: 1.4rem;
                gap: 1.4rem;
                svg{
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
    }
    .work{
        padding-bottom: 5.3rem;
        &__btns{
            display: none;
        }
        &__btn-all--mobile{
            display: block;
            padding: 1.85rem 2.5rem;
            font-size: 1.6rem;
            width: 100%;
        }
        &__top{
            margin-bottom: 2.5rem;
        }
        .slider__wrapper .swiper-slide{
            width: 30rem;
        }
        .slider__wrapper .swiper-slide .work__slide-img{
            height: 19.3rem;
        }
        .slider__wrapper .swiper-slide img{
            height: 19.3rem;
        }
        &__slide-name{
            font-size: 1.8rem;
        }
        &__slide-img{
            height: 19.3rem;
            margin-bottom: 2rem;
        }
        &__slider{
            margin-bottom: 3rem;
        }
        &__bottom-btns{
            display: flex;
            gap: 1.6rem;
        }
        &__btn{
            font-size: 1.6rem;
            padding: 1.85rem 2.5rem;
            span{
                display: none;
                white-space: nowrap;
            }
        }
    }
    .projects{
        padding-bottom: 5.5rem;
        .slider__arrows{
            display: none;
        }
        &__tab-slider{
            width: 100% !important;
            margin-left: auto !important;
        }
        &__title{
            margin-bottom: 2.5rem;
        }
        &__top{
            margin-bottom: 1.5rem;
        }
        &__tabs{
            gap: 0;
        }
        &__tab{
            padding: 0.8rem 1.2rem;
            font-size: 1.6rem;
            white-space: nowrap;
        }
        &__slider{
            margin-bottom: 2.8rem;
            .swiper-slide img {
                margin-bottom: 2.5rem;
                height: 19.3rem;
                border-radius: 2rem;
                object-fit: cover;
            }
            .slider__wrapper .swiper-slide{
                width: 30rem;
                min-height: 100%;
            }
            .swiper-slide .projects__slide-img{
                height: 19.3rem;
            }
        }
        &__slide-name{
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        &__slide-text{
            font-size: 1.4rem;
            padding-right: 1.7rem;
            margin-bottom: 1.5rem;
        }
        &__lable{
            padding: 0.8rem 1.5rem;
            top: 0.5rem;
            left: 0.5rem;
            font-size: 1.4rem;
        }
        &__review-btn{
            display: flex;
            align-items: center;
            gap: 1rem;
            svg{
                width: 3.3rem;
                height: 3.3rem;
            }
        }
    }
    .reviews{
        padding-bottom: 5.5rem;
        &__btns{
            display: none;
        }
        &__top{
            margin-bottom: 2.5rem;
        }
        &__slider .swiper-slide{
            display: flex;
            flex-direction: column;
            padding: 2rem 1.5rem;
            width: 30rem;
            height: auto;
        }
        &__btn-all--mobile{
            display: block;
        }
        &__slide{
            &-img{
                display: none;
            }
            &-content{
                padding: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &-name{
                font-size: 1.8rem;
                margin-bottom: 1.2rem;
            }
            &-link{
               display: none; 
            }
        }
        .swiper-wrapper{
            // align-items: stretch;
            height: 100%;
        }
        &__btn-all--mobile{
            width: 100%;
            padding: 1.5rem;
            margin-top: 3rem;
        }
    }
    .news{
        padding-top: 4.5rem;
        padding-bottom: 3.5rem;
        margin-bottom: 4rem;
        &__news{
            display: none;
        }
        &__title{
            margin-bottom: 2.5rem;
        }
        &__top{
            flex-wrap: wrap;
            margin-bottom: 3rem;
        }
        &__tab{
            font-size: 1.4rem;
        }
        &__tabs{
            width: 100%;;
        }
        &__articles-item-img{
            display: none;
        }
        .swiper-slide{
            height: auto;
            width: 28rem;
            border: 0.1px solid $black;
            padding: 1.5rem;
            border-radius: 2rem;
        }
        .swiper-wrapper{
            display: flex;
            flex-direction: row;
            gap: 0;
        }
        .articles__slider{
            width: 100%;
        }
        .news__articles .news__label{
            top: 1.5rem;
            left: 1.5rem;
        }
        &__wrapper{
            display: block;
            margin-bottom: 2.1rem;
        }
    }
    .form-question{
        &__wrapper{
            flex-direction: column;
            gap: 2.5rem;
        }
        &__content{
            padding: 0;
            padding: 4rem 0.7rem 0;
            width: 100%;
        }
        &__img{
            height: 22rem;
        }
        &__img img{
            width: 100%;
            height: 22rem;
            object-fit: cover;
        }
        &__title{
            font-size: 5rem;
            margin-bottom: 1.5rem;
        }
        &__suptitle{
            margin-bottom: 2.5rem;
        }
        textarea{
            width: 100%!important;
        }
        &__descr{
            font-size: 1.2rem;
        }
        .input-group{
            width: 100%;
        }
        .worker{
            left: 0.5rem;
            bottom: 1rem;
            border-radius: 1rem;
            padding: 1rem 1.2rem;
            right: auto;
            &__text{
                font-size: 1.2rem;
            }
        }
        input:focus ~ label,
        input:valid ~ label{
            top: 3rem !important;
            left: 2rem !important;
            font-size: 1.4rem;
            opacity: 0.5;
            transform: translate(0);
        }
        input:focus,
        input:valid{
            padding-top: 3rem;
            padding-left: 2rem !important;
            transition: 0.3s;
            color: $black;
            opacity: 1;
        }
        .form-question__img{
            display: none;
        }
    }
    .block-input{
        width: 48.3%;
    }
    .form-question .input-group{
        width: 100%;
    }
    .form-question .input-group.area{
        width: 100%;
    }
    .form-question .question-form input{
        width: 100%;
        border-radius: 10rem;
    }
    .partners{
        padding: 5.5rem 0;
        &__item{
            width: 11.4rem;
            height: 11.4rem;
            img{
                width: 50%;
                object-fit: cover;
            }
        }
        &__title{
            margin-bottom: 2.5rem;
        }
    }
    .form-question__wrapper{
        padding-bottom: 4rem;
    }
    .support-form__input-box{
        width: 48.7%;
    }
    .support-form__btn{
        width: 48.7%;
        height: 5.4rem;
    }
    .prod__title{
        font-size: 8.5rem;
    }
    .prod__certificates{
        align-items: center;
    }
}

@media (max-width: 500px){
    .form-question .input-group {
        width: 100%;
    }
    .form-question__wrapper{
        padding-bottom: 0.5rem;
    }
    .block-input{
        width: 47.5%;
    }
    .form-question .form-question__img{
        display: block;
    }
    .prod__title{
        font-size: 6.1rem;
    }
}



