.production-page{
    .faq{
        margin-bottom: 1rem;  
    }
}

.production-main{
    margin-top: 19rem;
    padding-top: 6rem;
    margin-bottom: 9.6rem;
    &__title{
        margin-bottom: 2rem;
    }
    &__descr{
        color: 585E63;
        max-width: 90rem;
        margin-bottom: 5.5rem;
    }
    .production__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.comparison-type{
    padding-bottom: 9.7rem;
    .container{
        max-width: 100%;
        padding: 0;
    }
    &__title{
        margin-bottom: 3.3rem;
        span{
            color: #AEB2BF;
        }
        margin-left: 13.9rem;
    }
    &__table-inner{
        position: relative;
        width: 100%;
        right: 0;
    }
    &__table-wrapper{
        position: relative;
        margin-left: 14rem;
        max-width: 140rem;
        height: 100%;
    }
    .right-blur{
        position: absolute;
        right: 0.2rem;
        width: 24.5rem;
        height: 99%;
        z-index: 7777;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0.97) 16.53%, rgba(255, 255, 255, 0.00) 92.42%);
    }
    .bottom-blur{
        position: absolute;
        width: 99%;
        bottom: 0.1rem;
        height: 13.3rem;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.97) 14.37%, rgba(255, 255, 255, 0.00) 112.64%);
        left: 0rem;
        z-index: 77;
        opacity: 1;
        visibility: visible;
        transition:  all 0.3s;
        &.hidden{
            opacity: 0;
            visibility: hidden;
            transition:  all 0.3s;
        }
    }
    .nav-table{
        position: absolute;
        right: 1rem;
        z-index: 99;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        z-index: 77777;
        flex-direction: column;
    }
    .table-arrow-prev{
        margin-top: -1rem;
        display: none;
        &.active{
            display: block;
        }
    }
    .table-btn{
        position: absolute;
        left: 50%;
        bottom: 3rem;
        z-index: 777;
        padding: 1.5rem 3.5rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        transition: all 0.3s;
        transform: translate(-50%);
        &.active{
            svg{
                transform: rotate(180deg);
                transition: all 0.3s;
            }
        }
    }
    &__wrapper{
        width: auto;
        max-width: 140rem;
        height: 110%;
        max-height: 63.7rem;
        overflow: scroll;
        background: linear-gradient(180deg, #E9E9EF 0%, #F4F4F6 100%);
        border-radius: 1rem 0 0 0rem;
        transition: all 0.3s;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            height: 3px;
            width: 2px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #292A29;
            border-radius: 6px;
        }
        &::-webkit-scrollbar-track {
            background-color: #BDC0CA;
        }
        .comparison-type__table{
            position: relative !important;
            border-spacing: 0;
            th{
                border-right: 0.1rem solid $black;
                max-width: 18rem;
                min-width: 18rem;
                border-top: 0;
                border-bottom: 0;
                position: sticky;
                white-space: nowrap;
                top: 0;
                background-color: $primary;
                color: $black;
                z-index: 9;
                padding: 3rem;
                font-size: 1.4rem;
                font-family: 'Graphik LCG';
                font-weight: 500;
                line-height: 120%;
                &:nth-child(1){
                    position: sticky;
                    left: 0;
                    z-index: 10;
                    white-space: normal;
                    min-width: 25.5rem;
                    border-radius: 1rem 0 0 1rem;
                    border-left: none;
                    
                }
                &:last-child{
                    max-width: 30rem;
                    min-width: 30rem;
                    text-align: left;
                }
            }
            td{
                border-right: 0.1rem solid #BDC0CA;
                border-bottom: 0.1rem solid #BDC0CA;
                padding: 0.5rem;
                min-width: 8rem;
                padding: 1.8rem 2rem 1.5rem 2.9rem;
                font-size: 1.4rem;
                font-family: 'Graphik LCG';
                font-weight: 500;
                line-height: 120%;
                max-width: 18rem;
                background-color: #fff;
                border-top: 0;
                span{
                    display: block;
                    min-width: 3.6rem;
                    min-height: 2px;
                    max-width: 3.6rem;
                    max-height: 0.1rem;
                    background-color: #BDC0CA;
                    margin: 0 4rem 0 4.1rem;
                    
                }
                &:nth-child(1){
                   position: sticky;
                   left: 0;
                   z-index: 7;   
                   background: #EFEFF2;
                   border-left: none;
                }
                &:last-child{
                    max-width: 30rem;
                    min-width: 30rem;
                    text-align: left;
                    padding-right: 10rem;
                }
            }
        }
    }

}

@media (max-width: 1440px){
    .comparison-type__table-wrapper{
        margin-left: 6.5rem;
    }
}

@media (max-width: 962px){
    .production-main{
        padding-top: 3rem;
        margin-top: 8rem;
        margin-bottom: 4rem;
        &__title{
            margin-bottom: 1.5rem;
        }
        &__descr{
            font-size: 1.4rem;
            color: $body_text;
            margin-bottom: 3rem;
        }
        .production__wrapper{
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            gap:2.5rem 1.5rem;
        }
        .production__item-img{
            width: 15.8rem;
            height: 10.8rem;
        }
        .production__item-img img{
            height: 10.1rem;
        }
        .production__item{
            width: 15.8rem;
        }
        .production__item-name{
            font-size: 1.4rem;
            padding: 0;
            border: none;
            margin: 0;
        }
        .production__item-text{
            display: none;
        }
    }
    .comparison-type{
        padding-bottom: 13.4rem;
        &__title{
            margin-left: 1.5rem;
            margin-bottom: 2.5rem;
        }
        &__table-wrapper{
            margin-left: 0rem;
        }
        .table-btn{
            z-index: 777777777;
            width: 33rem;
            justify-content: center;
            bottom: -7rem;
        }
        .nav-table{
            display: none;
        }
        .right-blur{
            display: none;
        }
        &__wrapper{
            max-height: 48rem;
            border-radius: 0;
            .comparison-type__table th:nth-child(1){
                padding: 1rem;
                max-width: 18rem;
                min-width: 18rem;
                font-size: 1.2rem;
                border-radius: 0 0 0 0;
                z-index: 5;
                position: sticky;
            }
            .comparison-type__table th{
                padding: 1rem;
                font-size: 1.6rem;
                max-width: 14.1rem;
                min-width: 14.1rem;
                text-align: left;
                z-index: 6;
                &:last-child{
                    max-width: 14.1rem;
                    min-width: 14.1rem;
                    text-align: left;
                }
            }
            .comparison-type__table td{
                font-size: 1.4rem;
                text-align: left;
                padding: 0 1.5rem 0 1.5rem;
                font-weight: 400;
                &:nth-child(1){
                    font-size: 1.2rem;
                    font-weight: 500;
                    position: static;
                }
                &:last-child{
                    max-width: 14.1rem;
                    min-width: 14.1rem;
                    text-align: left;
                    padding-right: 0;
                }
                
            }
            .comparison-type__table td:nth-child(1){
                padding: 1.2rem 1.3rem 1.2rem 1.5rem;
            }
            .comparison-type__table td:nth-child(1){
                z-index: 5;
            }
        }
    }
}