@font-face {
    font-family: 'Halvar-Eng-Rg';
    src: url('../fonts/HalvarEng-Rg.eot'),
    url('../fonts/HalvarEng-Rg.woff2') format('woff2'),
    url('../fonts/HalvarEng-Rg.woff') format('woff'),
    url('../fonts/HalvarEng-Rg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Regular.eot'),
        url('../fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Regular.woff') format('woff'),
        url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html{
    font-size: calc(100vw / 1440 * 10);
}
body{
    font-family: 'Halvar-Eng-Rg', sans-serif;
    font-size: 1.6rem;
}
.container{
    max-width: 130rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 0;
    z-index: 777;
    transform: translateY(-0%);
    transition: all 0.5s;
    background-color: #fff;
    left: 0;
    right: 0;
}
.wrapper {
    opacity: 0;
    animation: fade-in 1s ease-in-out 0.3s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.header.fixed{
    transition: all 0.5s;
    transform: translateY(-57%);
}
.container-img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2.5rem;
}
.header-top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 0.1rem solid #292A29;
    padding-bottom: 1.8rem;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-contact{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.header-mail{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.header-mail svg{
    width: 2rem;
    height: 1.7rem;
}
.header-mail-t{
    font-size: 1.8rem;
    color: #292A29;
    text-transform: uppercase;
    display: block;
}
.b-btn{
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 0.8rem 2rem;
    border-radius: 59px;
    background-color: #292A29;
    color: #fff;
}
.contact-tel__wrapper{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 0.3rem;
}
.contact-tel{
    font-size: 3rem; 
    text-transform: uppercase;
    color: #292A29;
    
}
.contact-tel__btn{
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    border-radius: 5.9rem;
    border: 1px solid var(--black, #292A29);
    display: block;
    width: 12.4rem;
    margin-left: auto;
}
.header-bottom{
    padding-top: 2.4rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.6rem;
}
.nav{
    display: flex;
    gap: 3rem;
}
.nav-link{
    color: #292A29;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.nav-link svg{
    width: 1.1rem;
    height: 0.55rem;
}
.header-bottom__social{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.bottom-socials{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.social-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #EFEFF2;
    cursor: pointer;
}
.social-btn:nth-child(1) svg{
    width: 2.1rem;
    height: 1.3rem;
}
.social-btn:nth-child(2) svg{
    width: 1.9rem;
    height: 1.5rem;
}
.social-btn:nth-child(3) svg{
    width: 1.9rem;
    height: 1.9rem;
}
.social-btn:nth-child(4) svg{
    width: 2rem;
    height: 1.5rem;
}
.main-section__bg{
    width: 100%;
    object-fit: cover;
    height: 77.9rem;
    border-radius: 2.5rem;
}
#zoomed-image {
    max-width: 100%;
    transition: transform 0.6s;
}

.zoomed {
    transform: scale(1.2);
    transition: all 0.6s;
}
.section-main{
    position: relative;
    transition: all 0.5s;
    margin-top: 19.9rem;
}
.section-main.fixed{
    transition: all 0.5s;
    margin-top: 15.9rem;
}
.section-main__wrapper{
    position: absolute;
    top: 5.3rem;
    left: 7rem;
    right: 7rem;
}
.section-main__title{
    font-size: 8rem;
    font-weight: 500;
    line-height: 102%; /* 81.6px */
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2.6rem;
}
.section-main__title span{
    color: #FFD000;
}
.section-main__suptitle{
    font-size: 3rem;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2.8rem;
}
.button-main{
    padding: 1.5rem 2.5rem;
    border-radius: 59px;
    background: var(--2, #FFD000);
    font-size: 1.8rem;
    color: #292A29;
    text-transform: uppercase;
    margin-bottom: 15.5rem;
}
.catalog-main__btn{
    display: block;
    color: #fff;
    font-size: 1.8rem;
    line-height: 120%; /* 21.6px */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 1.4rem;
}
.arrow-link{
    position: relative;
}
.bord{
    width: 4.9rem;
    height: 4.9rem;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.arr{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);
    width: 0.95rem;
    height: 0.95rem;
}
.section-main__bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.section-main__bottom-right{
    display: flex;
    gap: 12.3rem;
}
.right-circle svg{
    width: 11.7rem;
    height: 11.7rem;
}
.right-circle{
    position: relative;
    width: auto;
}
.right-circle p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 8rem;
    color: #FFD000;
}
.right-item:nth-child(2) .right-circle p{
    left: 0;
    top: 50%;
    transform: translate(15%,-50%);
}
.right-item:nth-child(2){
    padding-right: 10.7rem;
}
.right-item{
    position: relative;
}
.border-name{
    color: #fff;
    -webkit-text-stroke: 2px #000; /* Ширина и цвет контура (для браузеров, использующих вендорные префиксы, такие как Chrome и Safari) */
    text-stroke: 2px #000; /* Ширина и цвет контура (для современных браузеров) */
}
.right-item__text{
    position: absolute;
    left: 10rem;
    font-size: 1.8rem;
    color: #fff;
    width: 15rem;
    bottom: 2rem;
    text-transform: uppercase;
    line-height: 120%
}
.advantages{
    padding: 6.8rem 0 7.1rem;
}
.advantages-item{
    width: 30.4rem;
}
.advantages-text{
    font-size: 1.6rem;
    color: #4D545A;
    font-family: 'Graphik LCG';
}
.advantages-wrapper{
    display: flex;
    justify-content: space-between;
}
.advantages-number{
    font-size: 1.4rem;
    line-height: 110%; /* 15.4px */
    text-transform: uppercase;
    color: #292A29;
    margin-bottom: 3rem;
    opacity: 0.6;
}
.advantages-img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    margin-bottom: 2.5rem;
}
.advantages-name{
    font-size: 3rem;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.wrap {
    max-width:100%;
    background-color: #FFD000;
    padding: 3.6rem 0;
  }
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 2rem;
  }
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 3rem;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    flex: 0 0 auto;
    counter-increment: item;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #292A29;
    transition: all 0.1s ease-in-out;
    line-height: 120%; /* 36px */
    text-transform: uppercase;
    gap: 3rem;
    align-items: center;
  }
  .item svg:nth-child(1){
    width: 11.7rem;
    height: 5.7rem;
  }
  .item svg:nth-child(2){
    width: 2.2rem;
    height: 2.2rem;
  }
  .marquee {
    animation: scroll 20s linear infinite;
  }
  .reverce {
    animation-direction: reverse;
  }
  .items-wrap:hover .marquee {
    animation-play-state: paused;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }


@media (max-width: 1440px){
    html{
        font-size: calc(100vw / 1440 * 10);
    }
}